/* This file is for your main application css. */
@import "./phoenix.css";
@import "./chatroom.css";
@import "./live_view.css";
@import "./welcome.css";

* {
  margin: 0;
}

.container{
  margin: 0 auto;
  position: relative;
  width: 60%;
  padding: 0;
}
body {
  height: 100vh;
}

body > div {
  height: 100%;
}

header {
  height: 7%;
}

.page-title {
  text-align: center;
}

nav {
  width: 60%;
  display: grid;
  width: 100%;
}

nav > ul > li > a {
  color: var(--chatroom-col3-text);
}

::-webkit-scrollbar {
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--chatroom-col1);
  border-radius: 10px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
