/*
 * Containes layout /chat page
 * contains servers listing and rooms listing css
 *
 * imports usercomponent and chatroom component css
 */
@import "./variables.css";
@import "./chatroom/user_component.css";
@import "./chatroom/chatroom_component.css";
@import "./chatroom/user_list_component.css";
@import "./chatroom/server_component.css";
@import "./chatroom/server_listing_component.css";
@import "./chatroom/invite_menu_component.css";


.action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.app-container {
  height:100%;
}

h3 {
  text-align: center;
}

.no-username {
  color: black;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 180px 180px auto 180px; 
}

#app * {
 font-family: ubuntu; 
}

#servers-listing {
  background-color: var(--chatroom-col1); 
}

/* Change this to chatrooms=listing */
#server {
  background-color: var(--chatroom-col2);
}


/*contains rooms component and user component */
#col-2 {
  position: relative;
  display: grid;
}
