textarea {
  resize: none;
}

#chatroom {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 35fr;
  background-color: red;
}

#name-container {
  display: grid;
}

#chatroom-name {
  margin: auto;
}

#messages-container {
  background-color: blue;
  overflow-y: auto;
}

#msg-chatbox {
  grid-row-end: span 1;
  background-color: black;
}

#msg-box {
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: black;
  height: 100%;
}

#msg-input {
  background-color: white;
  height: 100%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  padding-left: 50px;
}

#msg-submit {
  height: 100%;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

.a-message {
  padding: 0.6em;
  border-top: 1px solid black;
}

.a-message h6{
  margin: 0;
  margin-left: 1em;
  font-weight: bold;
}

.a-message p {
  margin: 0;
  margin-left: 2.6em;
}

