/*
 * Containes layout /chat page
 * contains servers listing and rooms listing css
 *
 * imports usercomponent and chatroom component css
 */
@import "./variables.css";
@import "./chatroom/user_component.css";
@import "./chatroom/chatroom_component.css";


.app-container {
  height:100%;
}

h3 {
  text-align: center;
}

.link {
  height: 100%;
  width: inherit;
  width: 240px;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link:link, .link:visited {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: #526262;
}

.active-server {
  background-color: #9999bf;
  pointer-events: none;
}

.active-chatroom {
  background-color: #bbd5d5;
  pointer-events: none;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 240px 240px auto 240px;
}

/*contains rooms component and user component */
#col-2 {
  position: relative;
}
