<h1>Show Server</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @server.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.server_path(@conn, :edit, @server) %></span>
<span><%= link "Back", to: Routes.server_path(@conn, :index) %></span>
