textarea {
  resize: none;
}

#chatroom {
  height: 100%;
  display: grid;
  grid-template-rows: 3fr 33fr;
  overflow-y: auto;
  background-color: var(--chatroom-col3);
  color: var(--chatroom-col3-text);
}

#name-container {
  display: grid;
}

#chatroom-name {
  margin: auto;
}

#messages-container {
  background-color: var(--chatroom-col3);
  overflow-y: auto;
  display:grid;
  grid-template-rows: 1fr;
  align-items: end;
}

#msg-box {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--chatroom-col3);
}

#msg-input {
  background-color: var(--chatroom-col1);
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  padding-left: 1.2em;
  grid-column: 2/3;
}

#msg-submit {
  background-color: var(--chatroom-col2);
  border: none;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
}

.a-message {
  padding: 0.6em;
  border-top: 1px solid black;
  background-color: var(--chatroom-col3);
}

.a-message h4{
  margin-left: 1em;
  margin-bottom: 0.3em;
}

.a-message p {
  margin: 0;
  white-space: pre-wrap;
  margin-left: 2.6em;
}
